TWILIO_ACCOUNT_SID=ACxxx
TWILIO_AUTH_TOKEN=xxx
TWILIO_FROM_NUMBER=+1659251038
TO_NUMBER=+918341582042
DOMAIN=xxxx.ngrok-free.app
ELEVENLABS_API_KEY=eleven_xxx
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
OPENAI_API_KEY=sk-xxx
CEREBRAS_API_KEY=cbs-xxx
GROQ_API_KEY=gsk-xxx
PORT=3000

DATABASE_URL=postgres://user:pass@ep-xxx.neon.tech/dbname?sslmode=require
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_S3_BUCKET=linengrass-recordings
